@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chilanka&family=Dancing+Script:wght@400..700&family=Kranky&family=Pangolin&display=swap');

:root {
    --bg-color: #C0D494;
    --primary-color: #98A785;
    --secondary-color: #FBF6F6;
}

body {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

h1 {
    font-family: "Kranky", serif;
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    font-family: "Amatic SC", sans-serif;
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}

.grafico {
    margin-top: 3rem;
}

.graficos-container {
    margin: 5rem;
}

.graficos-container__texto {
    font-family: "Pangolin", cursive;
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--secondary-color) solid 2px;
}

span {
    font-family: "Chilanka", cursive;
    font-weight: bold;
    color: var(--secondary-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-family: "Dancing Script", cursive;
}
